{% extends "base.html" %}
{% block title %}Notatki{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <p class="mb-0">Please try again.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<br>
<br>
<form method="POST">

    <div style="width: 400px; margin-left: 300px;">
        <h1>Create a new note</h1>
        <br>
        <input autocomplete="off" type="text" class="form-control" id="notetitle" name="notetitle"
               placeholder="Note title" maxlength="200">
        <br>
        <textarea autocomplete="off" class="form-control" id="notecontent" name="notecontent" placeholder="Note content"
                  rows="19" style="width: 600px; resize: none;" maxlength="2000"></textarea>
        <br>


        <button type="submit" class="btn btn-primary btn-sm">Save</button>


    </div>
</form>


{% endblock %}
