{% extends "base.html" %}
{% block title %}Note{% endblock %}

{% block content %}
<br>
<div class="d-flex justify-content-center">
    <div class="card text-center border-primary p-3 bg-light" style="white-space: pre-line;">
        <ul class="list-group list-group-flush" style="width: 400px;">
{{ note.date }}
            <li class="list-group-item fs-3"><strong>{{ note.title }}</strong></li>
            <li class="list-group-item">{{ note.content }}</li>
        </ul>
    </div>

</div>
{% endblock %}

